{% load i18n %}
{% load debug_toolbar_utils %}
<div class="clearfix">
	<fieldset class="djFieldSet">
	    <legend>Databases</legend>
	    <ul class="stats">
		    {% for alias, info in databases %}
		    <li>
		        <input class="filter"
		            value=".query_database_{{ alias }}"
		            id="database_filter_{{ alias }}" 
		            type="checkbox">

		        <label for="database_filter_{{ alias }}">
			        <strong class="label">
			            <span style="background-color: rgb({{ info.rgb_color|join:", " }})" class="color">&nbsp;</span>
			            {{ alias }}
			        </strong>

				    {{ info.time_spent|floatformat:"2" }} ms
				    ({% blocktrans count info.num_queries as num %}{{ num }} query{% plural %}{{ num }}
				    queries,{% endblocktrans %} {{ dupe_queries|length }} unique)
			    </label>
		    </li>
		    {% endfor %}
	    </ul>
	</fieldset>
	<fieldset class="djFieldSet">
	    <legend>Tables</legend>
	    <ul class="stats">
	        {% for table in tables %}
		    <li>
		        <input
		            class="filter"
                    value=".query_table_{{ table }}"
                    id="table_filter_{{ table }}"
		            type="checkbox">
		        <label for="table_filter_{{ table }}">{{ table }}</label>
		    </li>
	        {% endfor %}
	    </ul>
	</fieldset>
</div>

{% if dupe_queries %}
	<table>
		<thead>
		  <tr>
		    <th>
		        <input
		            class="group_filter"
                    value="input.filter[value^=.query_group_]"
                    type="checkbox">
            </th>
			<th class="toggle">&nbsp;</th>
			<th class="query">{% trans 'Query' %}</th>
			<th>{% trans 'Executions' %}</th>
			<th class="time">{% trans 'Total time (ms)' %}</th>
		  </tr>
		</thead>
		<tbody>
			{% for query, data in dupe_queries.iteritems %}
			    {# wow... I almost forgot how bad the Django template system is... glad we have Jinja2 these days. But for the time being (if,else(if,else,endif),endif) #}
				<tr style="{% spaceless %}
				        {% if data.queries|length > 10 %}
				            background-color: #f00;
				        {% else %}
				            {% if data.queries|length > 5 %}
				                background-color: #f30;
				            {% else %}
				                {% if data.queries|length > 3 %}
				                    background-color: #f60;
				                {% else %}
				                    {% if data.queries|length > 2 %}
				                        background-color: #f90;
				                    {% else %}
				                        {% if data.queries|length > 1 %}
				                            background-color: #fc0;
				                        {% endif %}
				                    {% endif %}
				                {% endif %}
				            {% endif %}
				        {% endif %}
				    {% endspaceless %}"
				    class="
				        djDebugHoverable
				        {% for table in data.tables %}
				        query_table_{{ table }}
				        {% endfor %}
				        query_database_{{ data.alias }}
				    "
				    id="sqlMain_unique_query_{{ forloop.counter }}">
		            <td><input
		                class="filter"
                        value=".query_group_{{ data.unique_hash }}"
                        type="checkbox"></td>
					<td class="toggle">
						<a class="djToggleSwitch" data-toggle-id="unique_query_{{ forloop.counter }}" data-toggle-open="+" data-toggle-close="-" href="javascript:void(0)">+</a>
					</td>
					<td>{{ query|safe }}</td>
					<td>{{ data.queries|length }}</td>
					<td>{{ data.time }}</td>
				</tr>
				<tr class="
				        djUnselected
				        djDebugHoverable
				        {% cycle 'djDebugOdd' 'djDebugEven' %}
				        {% if query.is_slow %} djDebugRowWarning{% endif %}
				        djToggleDetails_unique_query_{{ forloop.counter }}
				    " id="sqlDetails_unique_query_{{ forloop.counter }}">
				    <td colspan="5"></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}

{% if queries %}
	<table>
		<thead>
			<tr>
				<th class="color">&nbsp;</th>
				<th class="toggle">&nbsp;</th>
				<th class="query" colspan="2">{% trans 'Query' %}</th>
				<th class="timeline">{% trans 'Timeline' %}</th>
				<th class="time">{% trans 'Time (ms)' %}</th>
				<th class="actions">{% trans "Action" %}</th>
			</tr>
		</thead>
		<tbody>
			{% for query in queries %}
				<tr class="{% spaceless %}
				        djDebugHoverable
				        query_group_{{ query.unique_hash }}
				        {% for table in query.tables %}
				        query_table_{{ table }}
				        {% endfor %}
				        query_database_{{ query.alias }}
				        {% cycle 'djDebugOdd' 'djDebugEven' %}
				        {% if query.is_slow %}djDebugRowWarning{% endif %}
				        {% if query.starts_trans %}djDebugStartTransaction{% endif %}
				        {% if query.ends_trans %}djDebugEndTransaction{% endif %}
				        {% if query.in_trans %}djDebugInTransaction{% endif %}
				    {% endspaceless %}" id="sqlMain_query_{{ forloop.counter }}">
					<td class="color"><span style="background-color: rgb({{ query.rgb_color|join:", " }});">&nbsp;</span></td>
					<td class="toggle">
						<a class="djToggleSwitch" data-toggle-id="query_{{ forloop.counter }}" data-toggle-open="+" data-toggle-close="-" href="javascript:void(0);">+</a>
					</td>
					<td class="query">
						<div class="djDebugSqlWrap">
							<div class="djDebugSql">{{ query.sql|safe }}</div>
						</div>
					</td>
					<td class="timeline">
						<div class="djDebugTimeline"><div class="djDebugLineChart{% if query.is_slow %} djDebugLineChartWarning{% endif %}" style="left:{{ query.start_offset|dotted_number }}%;"><strong style="width:{{ query.width_ratio_relative|dotted_number }}%;">{{ query.width_ratio }}%</strong></div></div>
					</td>
					<td class="time">
						{{ query.duration|floatformat:"2" }}
					</td>
					<td class="actions">
					{% if query.params %}
						{% if query.is_select %}
							<a class="remoteCall" href="/__debug__/sql_select/?sql={{ query.raw_sql|urlencode }}&amp;params={{ query.params|urlencode }}&amp;duration={{ query.duration|floatformat:"2"|urlencode }}&amp;hash={{ query.hash }}&amp;alias={{ query.alias|urlencode }}">Sel</a>
							<a class="remoteCall" href="/__debug__/sql_explain/?sql={{ query.raw_sql|urlencode }}&amp;params={{ query.params|urlencode }}&amp;duration={{ query.duration|floatformat:"2"|urlencode }}&amp;hash={{ query.hash }}&amp;alias={{ query.alias|urlencode }}">Expl</a>
							{% ifequal query.engine 'mysql' %}
								<a class="remoteCall" href="/__debug__/sql_profile/?sql={{ query.raw_sql|urlencode }}&amp;params={{ query.params|urlencode }}&amp;duration={{ query.duration|floatformat:"2"|urlencode }}&amp;hash={{ query.hash }}&amp;alias={{ query.alias|urlencode }}">Prof</a>
							{% endifequal %}
						{% endif %}
					{% endif %}
					</td>
				</tr>
				<tr class="
				        djDebugHoverable
				        djUnselected
				        {% cycle 'djDebugOdd' 'djDebugEven' %}
				        {% if query.is_slow %} djDebugRowWarning{% endif %}
				        djToggleDetails_query_{{ forloop.counter }}
				    " id="sqlDetails_query_{{ forloop.counter }}">
					<td colspan="2"></td>
					<td colspan="4">
						<div class="djSQLDetailsDiv">
							<p><strong>Connection:</strong> {{ query.alias }}</p>
							{% if query.iso_level %}
								<p><strong>Isolation Level:</strong> {{ query.iso_level }}</p>
							{% endif %}
							{% if query.trans_status %}
								<p><strong>Transaction Status:</strong> {{ query.trans_status }}</p>
							{% endif %}
							{% if query.stacktrace %}
								<pre class="stack">{{ query.stacktrace }}</pre>
							{% endif %}
							{% if query.template_info %}
								<table>
									{% for line in query.template_info.context %}
									<tr>
										<td>{{ line.num }}</td>
										<td><code style="font-family: monospace;{% if line.highlight %}background-color: lightgrey{% endif %}">{{ line.content }}</code></td>
									</tr>
									{% endfor %}
								</table>
								<p><strong>{{ query.template_info.name|default:"(unknown)" }}</strong></p>
							{% endif %}
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>No SQL queries were recorded during this request.</p>
{% endif %}
