.hll { background-color: #ffffcc !important; }
.djdt_c { color: #888888 !important; } /* Comment */
.djdt_err { color: #a61717 !important; background-color: #e3d2d2 !important; } /* Error */
.djdt_k { color: #008800 !important; font-weight: bold !important; } /* Keyword */
.djdt_cm { color: #888888 !important; } /* Comment.Multiline */
.djdt_cp { color: #cc0000 !important; font-weight: bold !important; } /* Comment.Preproc */
.djdt_c1 { color: #888888 !important; } /* Comment.Single */
.djdt_cs { color: #cc0000 !important; font-weight: bold !important; background-color: #fff0f0 !important; } /* Comment.Special */
.djdt_gd { color: #000000 !important; background-color: #ffdddd !important; } /* Generic.Deleted */
.djdt_ge { font-style: italic !important; } /* Generic.Emph */
.djdt_gr { color: #aa0000 !important; } /* Generic.Error */
.djdt_gh { color: #303030 !important; } /* Generic.Heading */
.djdt_gi { color: #000000 !important; background-color: #ddffdd !important; } /* Generic.Inserted */
.djdt_go { color: #888888 !important; } /* Generic.Output */
.djdt_gp { color: #555555 !important; } /* Generic.Prompt */
.djdt_gs { font-weight: bold !important; } /* Generic.Strong */
.djdt_gu { color: #606060 !important; } /* Generic.Subheading */
.djdt_gt { color: #aa0000 !important; } /* Generic.Traceback */
.djdt_kc { color: #008800 !important; font-weight: bold !important; } /* Keyword.Constant */
.djdt_kd { color: #008800 !important; font-weight: bold !important; } /* Keyword.Declaration */
.djdt_kn { color: #008800 !important; font-weight: bold !important; } /* Keyword.Namespace */
.djdt_kp { color: #008800 !important; } /* Keyword.Pseudo */
.djdt_kr { color: #008800 !important; font-weight: bold !important; } /* Keyword.Reserved */
.djdt_kt { color: #888888 !important; font-weight: bold !important; } /* Keyword.Type */
.djdt_m { color: #0000DD !important; font-weight: bold !important; } /* Literal.Number */
.djdt_s { color: #dd2200 !important; background-color: #fff0f0 !important; } /* Literal.String */
.djdt_na { color: #336699 !important; } /* Name.Attribute */
.djdt_nb { color: #003388 !important; } /* Name.Builtin */
.djdt_nc { color: #bb0066 !important; font-weight: bold !important; } /* Name.Class */
.djdt_no { color: #003366 !important; font-weight: bold !important; } /* Name.Constant */
.djdt_nd { color: #555555 !important; } /* Name.Decorator */
.djdt_ne { color: #bb0066 !important; font-weight: bold !important; } /* Name.Exception */
.djdt_nf { color: #0066bb !important; font-weight: bold !important; } /* Name.Function */
.djdt_nl { color: #336699 !important; font-style: italic !important; } /* Name.Label */
.djdt_nn { color: #bb0066 !important; font-weight: bold !important; } /* Name.Namespace */
.djdt_py { color: #336699 !important; font-weight: bold !important; } /* Name.Property */
.djdt_nt { color: #bb0066 !important; font-weight: bold !important; } /* Name.Tag */
.djdt_nv { color: #336699 !important; } /* Name.Variable */
.djdt_ow { color: #008800 !important; } /* Operator.Word */
.djdt_w { color: #bbbbbb !important; } /* Text.Whitespace */
.djdt_mf { color: #0000DD !important; font-weight: bold !important; } /* Literal.Number.Float */
.djdt_mh { color: #0000DD !important; font-weight: bold !important; } /* Literal.Number.Hex */
.djdt_mi { color: #0000DD !important; font-weight: bold !important; } /* Literal.Number.Integer */
.djdt_mo { color: #0000DD !important; font-weight: bold !important; } /* Literal.Number.Oct */
.djdt_sb { color: #dd2200 !important; background-color: #fff0f0 !important; } /* Literal.String.Backtick */
.djdt_sc { color: #dd2200 !important; background-color: #fff0f0 !important; } /* Literal.String.Char */
.djdt_sd { color: #dd2200 !important; background-color: #fff0f0 !important; } /* Literal.String.Doc */
.djdt_s2 { color: #dd2200 !important; background-color: #fff0f0 !important; } /* Literal.String.Double */
.djdt_se { color: #0044dd !important; background-color: #fff0f0 !important; } /* Literal.String.Escape */
.djdt_sh { color: #dd2200 !important; background-color: #fff0f0 !important; } /* Literal.String.Heredoc */
.djdt_si { color: #3333bb !important; background-color: #fff0f0 !important; } /* Literal.String.Interpol */
.djdt_sx { color: #22bb22 !important; background-color: #f0fff0 !important; } /* Literal.String.Other */
.djdt_sr { color: #008800 !important; background-color: #fff0ff !important; } /* Literal.String.Regex */
.djdt_s1 { color: #dd2200 !important; background-color: #fff0f0 !important; } /* Literal.String.Single */
.djdt_ss { color: #aa6600 !important; background-color: #fff0f0 !important; } /* Literal.String.Symbol */
.djdt_bp { color: #003388 !important; } /* Name.Builtin.Pseudo */
.djdt_vc { color: #336699 !important; } /* Name.Variable.Class */
.djdt_vg { color: #dd7700 !important; } /* Name.Variable.Global */
.djdt_vi { color: #3333bb !important; } /* Name.Variable.Instance */
.djdt_il { color: #0000DD !important; font-weight: bold !important; } /* Literal.Number.Integer.Long */
