.hll { background-color: #ffffcc !important; }
.djdt_c { color: #60a0b0 !important; font-style: italic !important; } /* Comment */
.djdt_err { border: 1px solid #FF0000 !important; } /* Error */
.djdt_k { color: #007020 !important; font-weight: bold !important; } /* Keyword */
.djdt_o { color: #666666 !important; } /* Operator */
.djdt_cm { color: #60a0b0 !important; font-style: italic !important; } /* Comment.Multiline */
.djdt_cp { color: #007020 !important; } /* Comment.Preproc */
.djdt_c1 { color: #60a0b0 !important; font-style: italic !important; } /* Comment.Single */
.djdt_cs { color: #60a0b0 !important; background-color: #fff0f0 !important; } /* Comment.Special */
.djdt_gd { color: #A00000 !important; } /* Generic.Deleted */
.djdt_ge { font-style: italic !important; } /* Generic.Emph */
.djdt_gr { color: #FF0000 !important; } /* Generic.Error */
.djdt_gh { color: #000080 !important; font-weight: bold !important; } /* Generic.Heading */
.djdt_gi { color: #00A000 !important; } /* Generic.Inserted */
.djdt_go { color: #808080 !important; } /* Generic.Output */
.djdt_gp { color: #c65d09 !important; font-weight: bold !important; } /* Generic.Prompt */
.djdt_gs { font-weight: bold !important; } /* Generic.Strong */
.djdt_gu { color: #800080 !important; font-weight: bold !important; } /* Generic.Subheading */
.djdt_gt { color: #0040D0 !important; } /* Generic.Traceback */
.djdt_kc { color: #007020 !important; font-weight: bold !important; } /* Keyword.Constant */
.djdt_kd { color: #007020 !important; font-weight: bold !important; } /* Keyword.Declaration */
.djdt_kn { color: #007020 !important; font-weight: bold !important; } /* Keyword.Namespace */
.djdt_kp { color: #007020 !important; } /* Keyword.Pseudo */
.djdt_kr { color: #007020 !important; font-weight: bold !important; } /* Keyword.Reserved */
.djdt_kt { color: #902000 !important; } /* Keyword.Type */
.djdt_m { color: #40a070 !important; } /* Literal.Number */
.djdt_s { color: #4070a0 !important; } /* Literal.String */
.djdt_na { color: #4070a0 !important; } /* Name.Attribute */
.djdt_nb { color: #007020 !important; } /* Name.Builtin */
.djdt_nc { color: #0e84b5 !important; font-weight: bold !important; } /* Name.Class */
.djdt_no { color: #60add5 !important; } /* Name.Constant */
.djdt_nd { color: #555555 !important; font-weight: bold !important; } /* Name.Decorator */
.djdt_ni { color: #d55537 !important; font-weight: bold !important; } /* Name.Entity */
.djdt_ne { color: #007020 !important; } /* Name.Exception */
.djdt_nf { color: #06287e !important; } /* Name.Function */
.djdt_nl { color: #002070 !important; font-weight: bold !important; } /* Name.Label */
.djdt_nn { color: #0e84b5 !important; font-weight: bold !important; } /* Name.Namespace */
.djdt_nt { color: #062873 !important; font-weight: bold !important; } /* Name.Tag */
.djdt_nv { color: #bb60d5 !important; } /* Name.Variable */
.djdt_ow { color: #007020 !important; font-weight: bold !important; } /* Operator.Word */
.djdt_w { color: #bbbbbb !important; } /* Text.Whitespace */
.djdt_mf { color: #40a070 !important; } /* Literal.Number.Float */
.djdt_mh { color: #40a070 !important; } /* Literal.Number.Hex */
.djdt_mi { color: #40a070 !important; } /* Literal.Number.Integer */
.djdt_mo { color: #40a070 !important; } /* Literal.Number.Oct */
.djdt_sb { color: #4070a0 !important; } /* Literal.String.Backtick */
.djdt_sc { color: #4070a0 !important; } /* Literal.String.Char */
.djdt_sd { color: #4070a0 !important; font-style: italic !important; } /* Literal.String.Doc */
.djdt_s2 { color: #4070a0 !important; } /* Literal.String.Double */
.djdt_se { color: #4070a0 !important; font-weight: bold !important; } /* Literal.String.Escape */
.djdt_sh { color: #4070a0 !important; } /* Literal.String.Heredoc */
.djdt_si { color: #70a0d0 !important; font-style: italic !important; } /* Literal.String.Interpol */
.djdt_sx { color: #c65d09 !important; } /* Literal.String.Other */
.djdt_sr { color: #235388 !important; } /* Literal.String.Regex */
.djdt_s1 { color: #4070a0 !important; } /* Literal.String.Single */
.djdt_ss { color: #517918 !important; } /* Literal.String.Symbol */
.djdt_bp { color: #007020 !important; } /* Name.Builtin.Pseudo */
.djdt_vc { color: #bb60d5 !important; } /* Name.Variable.Class */
.djdt_vg { color: #bb60d5 !important; } /* Name.Variable.Global */
.djdt_vi { color: #bb60d5 !important; } /* Name.Variable.Instance */
.djdt_il { color: #40a070 !important; } /* Literal.Number.Integer.Long */
