.hll { background-color: #49483e !important; }
.djdt_c { color: #75715e !important; } /* Comment */
.djdt_err { color: #960050 !important; background-color: #1e0010 !important; } /* Error */
.djdt_k { color: #66d9ef !important; } /* Keyword */
.djdt_l { color: #ae81ff !important; } /* Literal */
.djdt_n { color: #f8f8f2 !important; } /* Name */
.djdt_o { color: #f92672 !important; } /* Operator */
.djdt_p { color: #f8f8f2 !important; } /* Punctuation */
.djdt_ { color: #f8f8f2 !important; } /* Text */
.djdt_cm { color: #75715e !important; } /* Comment.Multiline */
.djdt_cp { color: #75715e !important; } /* Comment.Preproc */
.djdt_c1 { color: #75715e !important; } /* Comment.Single */
.djdt_cs { color: #75715e !important; } /* Comment.Special */
.djdt_ge { font-style: italic !important; } /* Generic.Emph */
.djdt_gs { font-weight: bold !important; } /* Generic.Strong */
.djdt_kc { color: #66d9ef !important; } /* Keyword.Constant */
.djdt_kd { color: #66d9ef !important; } /* Keyword.Declaration */
.djdt_kn { color: #f92672 !important; } /* Keyword.Namespace */
.djdt_kp { color: #66d9ef !important; } /* Keyword.Pseudo */
.djdt_kr { color: #66d9ef !important; } /* Keyword.Reserved */
.djdt_kt { color: #66d9ef !important; } /* Keyword.Type */
.djdt_ld { color: #e6db74 !important; } /* Literal.Date */
.djdt_m { color: #ae81ff !important; } /* Literal.Number */
.djdt_s { color: #e6db74 !important; } /* Literal.String */
.djdt_na { color: #a6e22e !important; } /* Name.Attribute */
.djdt_nb { color: #f8f8f2 !important; } /* Name.Builtin */
.djdt_nc { color: #a6e22e !important; } /* Name.Class */
.djdt_no { color: #66d9ef !important; } /* Name.Constant */
.djdt_nd { color: #a6e22e !important; } /* Name.Decorator */
.djdt_ni { color: #f8f8f2 !important; } /* Name.Entity */
.djdt_ne { color: #a6e22e !important; } /* Name.Exception */
.djdt_nf { color: #a6e22e !important; } /* Name.Function */
.djdt_nl { color: #f8f8f2 !important; } /* Name.Label */
.djdt_nn { color: #f8f8f2 !important; } /* Name.Namespace */
.djdt_nx { color: #a6e22e !important; } /* Name.Other */
.djdt_py { color: #f8f8f2 !important; } /* Name.Property */
.djdt_nt { color: #f92672 !important; } /* Name.Tag */
.djdt_nv { color: #f8f8f2 !important; } /* Name.Variable */
.djdt_ow { color: #f92672 !important; } /* Operator.Word */
.djdt_w { color: #f8f8f2 !important; } /* Text.Whitespace */
.djdt_mf { color: #ae81ff !important; } /* Literal.Number.Float */
.djdt_mh { color: #ae81ff !important; } /* Literal.Number.Hex */
.djdt_mi { color: #ae81ff !important; } /* Literal.Number.Integer */
.djdt_mo { color: #ae81ff !important; } /* Literal.Number.Oct */
.djdt_sb { color: #e6db74 !important; } /* Literal.String.Backtick */
.djdt_sc { color: #e6db74 !important; } /* Literal.String.Char */
.djdt_sd { color: #e6db74 !important; } /* Literal.String.Doc */
.djdt_s2 { color: #e6db74 !important; } /* Literal.String.Double */
.djdt_se { color: #ae81ff !important; } /* Literal.String.Escape */
.djdt_sh { color: #e6db74 !important; } /* Literal.String.Heredoc */
.djdt_si { color: #e6db74 !important; } /* Literal.String.Interpol */
.djdt_sx { color: #e6db74 !important; } /* Literal.String.Other */
.djdt_sr { color: #e6db74 !important; } /* Literal.String.Regex */
.djdt_s1 { color: #e6db74 !important; } /* Literal.String.Single */
.djdt_ss { color: #e6db74 !important; } /* Literal.String.Symbol */
.djdt_bp { color: #f8f8f2 !important; } /* Name.Builtin.Pseudo */
.djdt_vc { color: #f8f8f2 !important; } /* Name.Variable.Class */
.djdt_vg { color: #f8f8f2 !important; } /* Name.Variable.Global */
.djdt_vi { color: #f8f8f2 !important; } /* Name.Variable.Instance */
.djdt_il { color: #ae81ff !important; } /* Literal.Number.Integer.Long */
